@charset "UTF-8";
/* CSS Document */

body, html{ margin:0; padding:0; overflow: hidden; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

#container{ z-index: 100; margin: 0; padding: 0; width: 100%; height: 100%;}

#alpha{ width: 10%; height: auto; display: block; opacity: 0; filter: alpha(opacity = 0); position: absolute;}

#cartela1{width: 100%; height: 100%; display: block; position: absolute;}
#cartela1 img{ 
width: 17%; 
height: 100%; 
display: block; 
opacity: 0; 
filter: alpha(opacity = 0); 
position: absolute;

}

#image { z-index: -1; position: absolute; margin: 0 !important; padding: 0 !important; width: 100%; height: 100%;-webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.41);
box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.41);}
	
	#image img { height: auto; max-width: 100%; display: block; opacity: 0; filter: alpha(opacity = 0); position: absolute; text-align: center; }


/* ------------------------------------------------------------------------ */
/* Media Queries
/* ------------------------------------------------------------------------ */


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
#image img { height: auto; max-width: 100%; }
}

/* Smartphones (portrait) ----------- /*/
@media only screen 
and (max-width : 320px){
#image img { height: auto; max-width: 100%; }
}


/* Smartphones (landscape) ----------- /*/
@media only screen 
and (min-width : 321px){
#image img { height: auto; max-width: 100%; }
}

/* iPads (portrait and landscape) ----------- /*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
#image img { height: 100%; max-width: auto; }
}

/* iPads (landscape) ----------- /*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
#image img { height: 100%; max-width: auto; }
}

/* iPads (portrait) ----------- /*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
#image img { height: 100%; max-width: 100%; }
}

/*********
iPad 3
**********/
@media
only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio : 2) {
#image img { height: 100%; max-width: auto; }
}

@media
only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio : 2) {
#image img { height: 100%; max-width: auto; }
#cartela1 img{ height: 97%;}
}

@media
only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
#image img { height: auto; max-width: 100%; }
}

/*PORTRAIT TABLET ANDROID*/
@media (min-width: 768px) and (max-width: 979px) {
#image img { height: auto; max-width: 100%; }
}

/*/ Desktops and laptops ----------- /*/

@media only screen 
and (min-width : 1020px){
#image img { height: 100%; max-width: auto; }
}


/* Large screens ----------- /*/
@media only screen 
and (min-width : 1824px) {
#image img { height: 100%; max-width: auto; }
}




/* iPhone 4 ----------- /*/
@media
only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio :2) {
#image img { height: 100%; max-width: auto; }
}

@media
only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
#image img { height: auto; max-width: 100%; }
}